<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.42.0" targetFramework="net472" />
  <package id="AutoFixture.AutoNSubstitute" version="3.42.0" targetFramework="net472" />
  <package id="AutoFixture.Xunit2" version="3.42.0" targetFramework="net472" />
  <package id="AutoMapper" version="10.1.1" targetFramework="net472" />
  <package id="DansCSharpTestingBundle.XUnit.NSubstitue" version="1.0.0.0" targetFramework="net472" />
  <package id="FluentAssertions" version="4.2.2" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net472" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net472" />
  <package id="NUnit" version="3.13.2" targetFramework="net472" />
  <package id="NUnit.Console" version="3.12.0" targetFramework="net472" />
  <package id="NUnit.ConsoleRunner" version="3.12.0" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net472" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net472" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net472" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net472" />
  <package id="ReportGenerator" version="4.8.12" targetFramework="net472" />
  <package id="xunit" version="2.1.0" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net472" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net472" />
  <package id="xunit.core" version="2.1.0" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net472" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net472" />
</packages>